/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red */
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
.txtblack {
    color: black;
}
.txt13 {
    font-size: 13px;
}
.txt12 {
    font-size: 12px;
}
.txtgrey {
    color: #6c7b88;
}
.margin-bottom1 {
    margin-bottom: 1%;
}

/* HEADER */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top:0;
    height: 50px;
    border-bottom: 1px solid gray;
}
.col-nav {
    height: 50px;
    line-height: 50px;
}

/* Logo */
.col-logo {
    width: 10%;
    text-align: center;
}
.col-logo img {
    vertical-align: middle;
}
.logo-img {
    width: 72%;
}

/* Menu Nav */
.col-nav li {
    height: 47px;
    display: inline-block;
    list-style: none;
}
.col-menu-left {
    width: 40%;
}
.col-menu-left li {
    margin-right: 7%;
}
.col-menu-right {
    width: 40%;
    text-align: end;
}
.col-menu-right li {
    margin-left: 7%;
}
div.col-nav li:hover {
    border-bottom: 2px solid black;
}
.col-start {
    width: 10%;
    text-align: center;
}

/* BUTTONS */
.btn {
    display: inline-block;
    line-height: normal;
    font-size: 13px;
}
.btn-small {
    padding: 2% 10%;
}
.btn-large {
    padding: 1% 2%;
}
.btn-blu {
    color: white;
    background-color: #0061ff;
}
.btn-white {
    color: black;
    border: 1px solid black;
}

/* MAIN */
main {
    margin-top: 50px;
}

/* jumbotron */
.contain-jumbotron {
    background-color: #b4d0e7;
}
.jumbotron {
    width: 85%;
    margin:auto;
}
h1 {
    padding-top: 6%;
    font-size: 65px;
}
.jumbotron p {
    width: 30%;
}
.jumbotron div.txt11 {
    padding-top: 1%;
}
.jumbotron i {
    font-size: 30px;
    padding-top: 3%;
    padding-bottom: 5%;
}
.jumbotron-image {
    width: 60%;
    float: right;
}

/* Subscription plans */
.contain-plans {
    width: 70%;
    margin: auto;
    margin-top: 160px;
}
.contain-plans h2 {
    font-size: 40px;
    padding-bottom: 4%;
}
.inputradio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid lightgrey;
}
.inputradio:hover {
    border: 4px solid #0061ff ;
}
.cont-col {
    width: 85%;
    margin: auto;
    padding-top: 5%;
}
div.cont-col h3 {
    padding-bottom: 5%;
}
.price {
    font-size: 14px;
    padding-bottom: 1%;
}
.included-offer {
    padding-top: 10%;
    list-style: none;
}
.included-offer li {
    padding-top: 5%;
}
.try-plan {
    width: 100%;
    text-align: center;
    margin: 15% 0;
}
.try-plan:hover {
    color: white;
    background-color: #0061ff;
    border-color: #0061ff;
}
.top-col-plan {
    padding: 2% 0;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.col-plans {
    width: 30%;
    margin-top: 20px;
    border: 1px solid lightgray;
    height: 800px;
}
.col-standard {
    margin-left: 5%;
    margin-right: 5%;
}
.functions {
    padding-left: 7%;
}
#icon {
    margin-left: -7%;
}
.special-link a {
    text-decoration: underline;
}
hr {
    width: 15%;
    margin: 10% 0;
}
.highlights {
    line-height: 300%;
    margin-top: 5%;
    list-style: none;
}
.highlights i {
    color: #0061ff;
}

/* Enterprise */
.contain-enterprise {
    margin-top: 5%;
    border: 1px solid lightgray;
}
.contain-enterprise div:first-child {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 1%;
    margin-bottom: 3%;
}
.enterprise {
    width: 95%;
    margin: auto;
}
.enterprise a {
    float: right;
}
.enterprise h3 {
    margin-bottom: 2%;
}
.enterprise h5, p {
    margin-bottom: 3%;
}

/* Section 2 */
.contain-partner {
    margin-top: 10%
}
.col-img {
    width: 55%;
    margin-right: 5%;
}
.col-text {
    width: 40%;
}
.col-text h3 {
    margin-top: 8%;
    margin-bottom: 5%;
}
.col-text p {
    margin-bottom: 8%;
}

/* Section 3 */

/* Row1 */
.contain-operations h2 {
    margin-top: 10%;
}
.col-operations, .col-operations-center {
    width: 30%;
    margin-top: 2%;
}
.col-operations-center {
    margin-left: 5%;
    margin-right: 5%;
}
.margin-operations-h3 {
    margin-bottom: 5%;
}

/* Row2 */
.row2-operations {
    margin-top: 7%;
}

/* Logos clients */
.col-logos {
    width: 400px;
    height: 400px;
    background-color: red;
}
.col.text {
    width: calc(100% - 800px);
    background-color: chocolate;
    height: 400px;
}