/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top:0;
    height: 50px;
}
.col-nav {
    height: 50px;
    line-height: 50px;
}
.col-logo {
    width: 10%;
    text-align: center;
}
.col-menu-left {
    width: 40%;
}
.col-menu-right {
    width: 40%;
    text-align: end;
}
.col-start {
    width: 10%;
    text-align: center;
}

/* MAIN */
main {
    margin-top: 50px;
}

/* jumbotron */
.contain-jumbotron {
    background-color: royalblue;
}
.jumbotron {
    width: 85%;
    margin:auto;
    position: relative;

    /* TEST */
    /* height: 200px; */
}
.jumbotron p {
    width: 30%;
}
.jumbotron-image {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 40%;

    /* TEST */
    height: 300px;
    background-color: saddlebrown;
}

/* Subscription plans */
.contain-plans {
    width: 80%;
    margin: auto;
    margin-top: 160px;

    /* TEST */
    height: 500px;
    background-color: salmon;
}
.col-plans {
    width: 32%;
    margin-top: 20px;

    /* TEST */
    background-color: aqua;
    height: 550px;
}

.col-standard {
    margin-left: 2%;
    margin-right: 2%;
}